body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#navtitle {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/folk-pattern.png');
}

.navus {
  align-items: center;
  color: #831d1db4;
  display: flex;
  justify-content: space-between;
}

#skatetitle {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  width: 20%;
}

.links {
  display: flex;
  justify-content: end;
  width: 80%;
  margin-left: 24%;
}

.logout {
  width: 20%;
}
.link-list {
  width: 80%;
  display: flex;
  flex-direction: row;
}

html {
  background: url('https://www.toptal.com/designers/subtlepatterns/patterns/folk-pattern.png');
  height: 100%;
}

ul {
  list-style-type: none;
}

.wrappity {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#item {
  display: flex;
  justify-content: space-between;
  border-radius: 40px;
  background: rgba(146, 146, 146, 0.199);
  padding: 25px;
  height: 200%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.imgrounder {
  border-radius: 40px;
}

#add-toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

#add-toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
